@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
   
}
header , main  {
    margin-left: 135px;
    margin-right: 135px;
}
header {
    margin-top: 52px;
}
/* Shared section */
.primary-color {
    color: #FF5400;;
}
.primary-lightgray {
    color: #424247;
}
.primary-btn {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-weight: 800;
    font-size: 1.25rem;
    padding: 14px 34px;
    border: none;
}
.heading {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
   background-repeat: no-repeat;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}


/* Nav section */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav-title img {
    width: 48px;
    height: 56.008px;
}
.banner-title {
    font-weight: 800;
    font-size: 2.25rem;
    display: flex;
    gap: 10px;
}
.nav-option {
    display: flex;
    gap: 44px;
    list-style: none;

}
.nav-option a {
    text-decoration: none;
    font-size: 1.125rem;
}
/* nav-picture-section */
.nav-img-container {
  
   
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
   background-repeat: no-repeat ;
    border-radius: 1rem;
}
.nav-img-title {
    display: flex;
    justify-content: center;
    padding-top: 106px;
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 800;
}
.nav-img-description {
    text-align: center;
    color: #FFFFFF;
    margin-top: 24px;
    margin-left: 240px;
    margin-right: 240px;


}
.nav-search-section {
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top:48px ;
    margin-bottom: 106px;
    margin-left: 185px;
    margin-right: 185px;
    padding: 12px;
}
.nav-search-section li {
    list-style: none;
    border-radius: 8px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;

   
}
.nav-search-section img {
    width: 15px;
    height: 12px;
}
.option  {
    width: 174px;
    height: 52px;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px ;
    padding-right: 84px;
}
.nav-on-btn {
    color: #424247;
    background-color: #FF5400;
    padding: 16px 64px ;
}
/* main section-1 */
.tour-title{
    color: #131318;
    font-weight: 800;
}
.popular-Tours{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 53px;
    margin: 100px 135px;
}
.tour-description {
    width:100%;
    height: 100%;
   

    
}
.tour-img img{
  height: 100%;
    width: 100%;
   
}
 
.primary-btn {
    font-size: 1.25rem;
    font-weight: 800; 
}


/* destination  */
.destination{
   text-align: center;

}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 100%;
    width: 100%;
    margin: 24px;
    
    
}

.Maldives {
    background-image: url(Images/Rectangle\ 5.png);

    padding: 132px 226px;
}
.Indonesia{
    background-image: url(Images/Rectangle\ 8.png);

    padding: 132px 244px;
}
.Srilanka {
    background-image: url(Images/Rectangle\ 6.png);

    padding: 125px 130px;

}
.North-America {
    background-image: url(Images/Rectangle\ 7.png);

    padding: 125px 137px;
}
.Kashmir {
    background-image: url(Images/Rectangle\ 9.png);
 
    padding: 125px 80px;
}
.Bangladesh {
    background-image: url(Images/Rectangle\ 11.png);
   
    padding: 132px 155px;
}
.Bandarban {
    background-image: url(Images/Rectangle\ 10.png);
   
    padding: 132px 284px;
  }
  .choose-services {
    text-align: center;
  }
/* reponsive for mobile devices */
@media screen and (max-width:600px){
    header , main {
        margin: 0;
    }
    .nav-container ,
    .nav-search-section 
   
     {
        flex-direction: column;

    }
    
}